version: '3.7'

services:
  wecheck999jp:
    image: mrhealer1207/wecheck999jp:latest
    container_name: landing-page-frontend
    restart: unless-stopped
    ports:
      - 3100:3000
    build:
      context: ./
      dockerfile: Dockerfile
    environment: 
      - BASE_URL=$${BASE_URL_JP}
    volumes:
      - '.:/app'
      - /app/.next